In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

csv = "applemobilitytrends-2020-04-27.csv"

In [3]:
df = pd.read_csv(csv)
df

,geo_type,region,transportation_type,alternative_name,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,...,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27
0,country/region,Albania,driving,NaN,100.0,95.30,101.43,97.20,103.55,112.67,...,22.94,24.55,31.51,33.59,31.69,33.94,30.22,25.22,30.39,37.39
1,country/region,Albania,walking,NaN,100.0,100.68,98.93,98.46,100.85,100.13,...,27.76,27.93,36.72,34.46,35.39,34.80,34.63,29.00,35.22,41.83
2,country/region,Argentina,driving,NaN,100.0,97.07,102.45,111.21,118.45,124.01,...,23.19,14.54,26.67,27.25,27.61,28.73,30.99,25.92,16.57,27.45
3,country/region,Argentina,walking,NaN,100.0,95.11,101.37,112.67,116.72,114.14,...,17.03,10.59,18.44,19.01,18.47,20.39,22.32,23.31,16.36,18.48
4,country/region,Australia,driving,NaN,100.0,102.98,104.21,108.63,109.08,89.00,...,36.90,53.34,56.93,58.06,59.69,62.87,47.84,41.89,55.39,59.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,sub-region,Île-de-France Region,driving,NaN,100.0,102.06,103.61,110.01,107.47,113.34,...,16.11,15.53,19.42,19.96,20.49,20.81,19.81,17.59,17.29,20.81
1154,sub-region,Örebro County,driving,Örebro län,100.0,101.70,105.33,108.03,115.57,123.96,...,109.73,109.08,103.07,107.73,112.93,107.07,120.65,116.40,114.68,103.28
1155,sub-region,Östergötland County,driving,NaN,100.0,96.87,98.81,103.48,109.64,113.50,...,102.60,101.58,102.81,102.61,109.11,106.38,114.71,117.23,108.38,106.47
1156,sub-region,Ústí nad Labem Region,driving,Ústecký kraj,100.0,101.57,107.63,112.87,120.32,126.19,...,113.68,103.49,101.84,108.48,107.01,108.22,107.30,107.54,119.49,105.89
1157,sub-region,Žilinský kraj,driving,NaN,100.0,102.76,108.09,114.07,136.77,126.23,...,69.05,70.58,69.46,72.17,75.82,73.95,74.46,68.59,86.01,77.94

In [4]:
new_df = df.drop(columns=['geo_type', 'alternative_name'])

new_df

,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27
0,Albania,driving,100.0,95.30,101.43,97.20,103.55,112.67,104.83,94.39,...,22.94,24.55,31.51,33.59,31.69,33.94,30.22,25.22,30.39,37.39
1,Albania,walking,100.0,100.68,98.93,98.46,100.85,100.13,82.13,95.65,...,27.76,27.93,36.72,34.46,35.39,34.80,34.63,29.00,35.22,41.83
2,Argentina,driving,100.0,97.07,102.45,111.21,118.45,124.01,95.44,95.13,...,23.19,14.54,26.67,27.25,27.61,28.73,30.99,25.92,16.57,27.45
3,Argentina,walking,100.0,95.11,101.37,112.67,116.72,114.14,84.54,101.37,...,17.03,10.59,18.44,19.01,18.47,20.39,22.32,23.31,16.36,18.48
4,Australia,driving,100.0,102.98,104.21,108.63,109.08,89.00,99.35,103.53,...,36.90,53.34,56.93,58.06,59.69,62.87,47.84,41.89,55.39,59.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,Île-de-France Region,driving,100.0,102.06,103.61,110.01,107.47,113.34,89.50,85.89,...,16.11,15.53,19.42,19.96,20.49,20.81,19.81,17.59,17.29,20.81
1154,Örebro County,driving,100.0,101.70,105.33,108.03,115.57,123.96,127.89,109.62,...,109.73,109.08,103.07,107.73,112.93,107.07,120.65,116.40,114.68,103.28
1155,Östergötland County,driving,100.0,96.87,98.81,103.48,109.64,113.50,114.85,104.57,...,102.60,101.58,102.81,102.61,109.11,106.38,114.71,117.23,108.38,106.47
1156,Ústí nad Labem Region,driving,100.0,101.57,107.63,112.87,120.32,126.19,113.47,102.87,...,113.68,103.49,101.84,108.48,107.01,108.22,107.30,107.54,119.49,105.89
1157,Žilinský kraj,driving,100.0,102.76,108.09,114.07,136.77,126.23,131.46,103.80,...,69.05,70.58,69.46,72.17,75.82,73.95,74.46,68.59,86.01,77.94

In [5]:
trans_df = new_df.transpose()
trans_df

,0,1,2,3,4,5,6,7,8,9,...,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157
region,Albania,Albania,Argentina,Argentina,Australia,Australia,Australia,Austria,Austria,Belgium,...,Yukon Territory,Zacatecas,Zala County,Zeeland,Zlín Region,Île-de-France Region,Örebro County,Östergötland County,Ústí nad Labem Region,Žilinský kraj
transportation_type,driving,walking,driving,walking,driving,transit,walking,driving,walking,driving,...,driving,driving,driving,driving,driving,driving,driving,driving,driving,driving
2020-01-13,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2020-01-14,95.3,100.68,97.07,95.11,102.98,101.78,101.31,101.14,101.55,101.19,...,96.19,91.63,104.12,102.57,100.28,102.06,101.7,96.87,101.57,102.76
2020-01-15,101.43,98.93,102.45,101.37,104.21,100.64,101.82,104.24,105.59,107.49,...,93.38,89.77,94.67,103.76,114.79,103.61,105.33,98.81,107.63,108.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-23,33.94,34.8,28.73,20.39,62.87,23.78,51.03,60.76,48.07,54.25,...,81.96,48.1,79.29,82.06,106.07,20.81,107.07,106.38,108.22,73.95
2020-04-24,30.22,34.63,30.99,22.32,47.84,20.96,46.68,57.52,44.41,52.29,...,100.36,53.25,77.58,85.95,108.2,19.81,120.65,114.71,107.3,74.46
2020-04-25,25.22,29,25.92,23.31,41.89,19.06,39.3,50.31,43.01,49.02,...,97.28,55.29,75.71,75.83,99.51,17.59,116.4,117.23,107.54,68.59
2020-04-26,30.39,35.22,16.57,16.36,55.39,22.74,45.09,57.18,48.66,49.02,...,76.16,43.36,72.91,68.6,115.07,17.29,114.68,108.38,119.49,86.01
2020-04-27,37.39,41.83,27.45,18.48,59.09,23.8,46.07,60.96,44.67,52.77,...,112.24,46.89,68.08,75.69,102.62,20.81,103.28,106.47,105.89,77.94

In [6]:
clean_df = trans_df.rename(columns=trans_df.iloc[0])
clean_df = clean_df.drop(clean_df.index[0])
clean_df

,Albania,Albania,Argentina,Argentina,Australia,Australia,Australia,Austria,Austria,Belgium,...,Yukon Territory,Zacatecas,Zala County,Zeeland,Zlín Region,Île-de-France Region,Örebro County,Östergötland County,Ústí nad Labem Region,Žilinský kraj
transportation_type,driving,walking,driving,walking,driving,transit,walking,driving,walking,driving,...,driving,driving,driving,driving,driving,driving,driving,driving,driving,driving
2020-01-13,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2020-01-14,95.3,100.68,97.07,95.11,102.98,101.78,101.31,101.14,101.55,101.19,...,96.19,91.63,104.12,102.57,100.28,102.06,101.7,96.87,101.57,102.76
2020-01-15,101.43,98.93,102.45,101.37,104.21,100.64,101.82,104.24,105.59,107.49,...,93.38,89.77,94.67,103.76,114.79,103.61,105.33,98.81,107.63,108.09
2020-01-16,97.2,98.46,111.21,112.67,108.63,99.58,104.52,112.21,112.24,107.67,...,91.12,97.75,94.67,103.24,109.6,110.01,108.03,103.48,112.87,114.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-23,33.94,34.8,28.73,20.39,62.87,23.78,51.03,60.76,48.07,54.25,...,81.96,48.1,79.29,82.06,106.07,20.81,107.07,106.38,108.22,73.95
2020-04-24,30.22,34.63,30.99,22.32,47.84,20.96,46.68,57.52,44.41,52.29,...,100.36,53.25,77.58,85.95,108.2,19.81,120.65,114.71,107.3,74.46
2020-04-25,25.22,29,25.92,23.31,41.89,19.06,39.3,50.31,43.01,49.02,...,97.28,55.29,75.71,75.83,99.51,17.59,116.4,117.23,107.54,68.59
2020-04-26,30.39,35.22,16.57,16.36,55.39,22.74,45.09,57.18,48.66,49.02,...,76.16,43.36,72.91,68.6,115.07,17.29,114.68,108.38,119.49,86.01
2020-04-27,37.39,41.83,27.45,18.48,59.09,23.8,46.07,60.96,44.67,52.77,...,112.24,46.89,68.08,75.69,102.62,20.81,103.28,106.47,105.89,77.94

In [9]:
# Create a filtered dataframe from specific columns
premise_cols = ["United States", "Italy"]
premise_transformed = clean_df[premise_cols].copy()

premise_transformed

,United States,United States,United States,Italy,Italy,Italy
transportation_type,driving,transit,walking,driving,transit,walking
2020-01-13,100,100,100,100,100,100
2020-01-14,102.97,97.77,99.59,102.63,100.82,102.1
2020-01-15,105.19,98.84,101.87,105.41,100.4,104.86
2020-01-16,108.48,99.04,100.6,106.18,99.52,107.32
...,...,...,...,...,...,...
2020-04-23,68,25.08,52.92,26.26,11.41,18.54
2020-04-24,76.68,25.99,58.89,27.09,11.36,20.51
2020-04-25,72.62,24.85,60,21.75,10.93,19.33
2020-04-26,57.06,22.47,45.95,22.82,13.16,20.11
2020-04-27,68.77,26.64,54.93,26.3,13.35,19.86

In [10]:
clean_df = trans_df.rename(columns=trans_df.iloc[0])
clean_df = clean_df.drop(clean_df.index[0])

In [11]:
premise_transformed = premise_transformed.drop(premise_transformed.index[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]])
premise_transformed

,United States,United States,United States,Italy,Italy,Italy
transportation_type,driving,transit,walking,driving,transit,walking
2020-02-01,122.32,103.42,140.8,125.55,107.43,149.16
2020-02-02,85.25,80.2,88.42,111.41,106.2,118.22
2020-02-03,98.86,96.48,92.42,100.52,98.79,108.19
2020-02-04,101.99,97.63,93.82,101.89,99.71,108.79
...,...,...,...,...,...,...
2020-04-23,68,25.08,52.92,26.26,11.41,18.54
2020-04-24,76.68,25.99,58.89,27.09,11.36,20.51
2020-04-25,72.62,24.85,60,21.75,10.93,19.33
2020-04-26,57.06,22.47,45.95,22.82,13.16,20.11
2020-04-27,68.77,26.64,54.93,26.3,13.35,19.86

In [12]:
premise_transformed = pd.DataFrame(premise_transformed)
premise_transformed

,United States,United States,United States,Italy,Italy,Italy
transportation_type,driving,transit,walking,driving,transit,walking
2020-02-01,122.32,103.42,140.8,125.55,107.43,149.16
2020-02-02,85.25,80.2,88.42,111.41,106.2,118.22
2020-02-03,98.86,96.48,92.42,100.52,98.79,108.19
2020-02-04,101.99,97.63,93.82,101.89,99.71,108.79
...,...,...,...,...,...,...
2020-04-23,68,25.08,52.92,26.26,11.41,18.54
2020-04-24,76.68,25.99,58.89,27.09,11.36,20.51
2020-04-25,72.62,24.85,60,21.75,10.93,19.33
2020-04-26,57.06,22.47,45.95,22.82,13.16,20.11
2020-04-27,68.77,26.64,54.93,26.3,13.35,19.86

In [13]:
premise_transformed

,United States,United States,United States,Italy,Italy,Italy
transportation_type,driving,transit,walking,driving,transit,walking
2020-02-01,122.32,103.42,140.8,125.55,107.43,149.16
2020-02-02,85.25,80.2,88.42,111.41,106.2,118.22
2020-02-03,98.86,96.48,92.42,100.52,98.79,108.19
2020-02-04,101.99,97.63,93.82,101.89,99.71,108.79
...,...,...,...,...,...,...
2020-04-23,68,25.08,52.92,26.26,11.41,18.54
2020-04-24,76.68,25.99,58.89,27.09,11.36,20.51
2020-04-25,72.62,24.85,60,21.75,10.93,19.33
2020-04-26,57.06,22.47,45.95,22.82,13.16,20.11
2020-04-27,68.77,26.64,54.93,26.3,13.35,19.86

In [14]:
premise_transformed = premise_transformed.drop(premise_transformed.index[[0]])
premise_transformed

           United States United States United States   Italy   Italy   Italy
2020-02-01        122.32        103.42         140.8  125.55  107.43  149.16
2020-02-02         85.25          80.2         88.42  111.41   106.2  118.22
2020-02-03         98.86         96.48         92.42  100.52   98.79  108.19
2020-02-04        101.99         97.63         93.82  101.89   99.71  108.79
2020-02-05        101.77         98.26         94.52  103.77   98.91  108.09
...                  ...           ...           ...     ...     ...     ...
2020-04-23            68         25.08         52.92   26.26   11.41   18.54
2020-04-24         76.68         25.99         58.89   27.09   11.36   20.51
2020-04-25         72.62         24.85            60   21.75   10.93   19.33
2020-04-26         57.06         22.47         45.95   22.82   13.16   20.11
2020-04-27         68.77         26.64         54.93    26.3   13.35   19.86

[87 rows x 6 columns]

In [15]:
premise_transformed = premise_transformed.reset_index()

In [16]:
premise_transformed.columns = ['date','us_driving', 'us_transit', 'us_walking', 'italy_driving', 'italy_transit', 'italy_walking']
premise_transformed

,date,us_driving,us_transit,us_walking,italy_driving,italy_transit,italy_walking
0,2020-02-01,122.32,103.42,140.8,125.55,107.43,149.16
1,2020-02-02,85.25,80.2,88.42,111.41,106.2,118.22
2,2020-02-03,98.86,96.48,92.42,100.52,98.79,108.19
3,2020-02-04,101.99,97.63,93.82,101.89,99.71,108.79
4,2020-02-05,101.77,98.26,94.52,103.77,98.91,108.09
...,...,...,...,...,...,...,...
82,2020-04-23,68,25.08,52.92,26.26,11.41,18.54
83,2020-04-24,76.68,25.99,58.89,27.09,11.36,20.51
84,2020-04-25,72.62,24.85,60,21.75,10.93,19.33
85,2020-04-26,57.06,22.47,45.95,22.82,13.16,20.11
86,2020-04-27,68.77,26.64,54.93,26.3,13.35,19.86

In [18]:
connection_string = "postgres:yourpassword@localhost:5432/corona_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
premise_transformed.to_sql(name='mobility', con=engine, if_exists='append', index=False)